[submodule "frontend"]
	path = frontend
	url = https://github.com/resurrectors/Sub_module_frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/resurrectors/Sub_module_backend.git
